@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Muli", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 62.5%;
}
.main {
    display: flex;
    width: 90vw;
}
.panel {
    height: 80vh;
    flex: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1em;
    border-radius: 6em;
    transition: flex 0.5s ease-in;
    cursor: pointer;
    position: relative;
}
.panel h3 {
    font-size: 3.4em;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: #fff;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel1 {
    background-image: url("./img/woman-g9c04d05e3_1920.jpg");
}
.panel2 {
    background-image: url("./img/sexy-girl-g2943eaf11_1920.jpg");
}
.panel3 {
    background-image: url("./img/peach-blossom-g161a55af6_1920.jpg");
}
.panel4 {
    background-image: url("./img/female-gd3fed653b_1920.jpg");
}
.panel5 {
    background-image: url("./img/ao-dai-g143ba3a05_1920.jpg");
}
.active {
    flex: 5;
}
@media (max-width: 480px) {
    .main {
        width: 100vw;
    }
    .panel:nth-child(4),
    .panel:last-child {
        display: none;
    }
}
