@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex; /*Căn chỉnh cho main ở giữa*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main {
    width:90vw;
    display: flex;
}
.panel {
    width: 90vw;
    height: 80vh;
    flex:0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    margin:10px;
    position: relative;
    cursor: pointer;
    transition: flex 0.5s ease-in;/* transition chuyển cảnh /thuộc tính thay đổi/time/thể loại*/
}
.panel1 {
    background-image: url("./img/ao-dai-g143ba3a05_1920.jpg")
}
.panel2 {
    background-image: url("./img/female-gd3fed653b_1920.jpg")
}
.panel3 {
    background-image: url("./img/peach-blossom-g161a55af6_1920.jpg")
}
.panel4 {
    background-image: url("./img/sexy-girl-g2943eaf11_1920.jpg")
}
.panel5 {
    background-image: url("./img/woman-g9c04d05e3_1920.jpg")
}
.panel h3 {
    position: absolute;
    bottom: 2%;
    left: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.active {
    flex: 5;
}
.active h3 {
    opacity: 1;
}